h1 { font-family: cursive;
	color: #B40431;
     background-color: #F2F5A9;}
img.align-center {
		  display:block;
		  margin: 0px auto;}
img.medium {
	    width: 360px;
	    height: 360px;}

p { align: justify;}